body{
    background-color:#c8d9e6;
    color:cornflowerblue;
    font-family:Arial, Helvetica, sans-serif;
    padding: 30px;
    margin: 0;
}

#container{
    background:white;
    padding: 30px;
    width: 1100px;
    margin: 0 auto;
    border-left: 5px solid white;
    border-right: 5px solid white;
}
#sidebar{
    background: #f5efeb;
    padding: 20px;
    border: 3px solid white;
    width: 20%;
    float:right;
    margin-left: 38px;
    border-radius: 30px;
}

h1{
    font-family:Arial, Helvetica, sans-serif;
    background:rgb(240, 246, 255);
    padding: 20px;
    text-align: center;
    width: 600px;
    margin: 0 auto;
    font-size: 2em;
    border: 6px solid white;
    border-radius: 30px;
    text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
}
h2{
    text-align: center;
}
h3{
    width: 100px;
    color: #8fc9ff;
    border-left: 30px double white;
    padding: 10px;
    margin-left: 30px;
    border-radius: 15px;
    text-shadow: -3px 0 #657f9c, 0 3px #657f9c, 3px 0 #657f9c, 0 -3px #657f9c;
}
img {
    width: 300px;
    float: left;
    margin-right: 10px;
    border-radius: 30px;
    opacity: 0.5;
}
img:hover{
    opacity: 1.0;
}
.text{
    line-height: 2.25em;
     background: rgba(255, 255, 255, 0.7);
    padding: 5px 10px;
    border-radius: 5px;
}
#pic1{
    width: 250px;
    height: 250px; 
}
#pic2{
    float: right;
    margin-right: 0;
    margin-left: 10px;
}
#yumm{
    width:250px;
    height: 250px;
}
.highlight{
    background: white;
    font-weight: bold;
    color:cornflowerblue;
    padding: 4px;
    border-radius: 5px;
}
a:link{
    font-weight: bold;
    color:cornflowerblue;
    text-decoration: none;


}
a:visited{
    color:rgb(35, 84, 174);
}
a:hover{
    text-decoration: underline;
}
a:active{
    color:aliceblue;
}
.highlight:active{
    background:floralwhite;
}
ul{
    line-height: 1.5em;
    font-size: 1em;
}
#sidebar h3{
    border-color:lightblue;
    font-size: 1.2em;
}
#sidebar h4{
    font-size: 1em;
    color: cornflowerblue;
}
@media (max-width: 1200px){
    #container{
        background: white;
        width:875px;
    }
}
@media(max-width:992px){
    body{
        background: aliceblue;
    }
    #container{
        background:aliceblue;
        width:90%;
        border:none;
    }
    #sidebar{
        width:80%;
        margin: 0 auto;
        float:none;
    }
    p{
        text-align:justify;
    }
}
@media (max-width:768px){
    #container, body{
        background: white;
        margin: 0 auto;
        padding: 4px;
    }
    #sidebar{
        display:none;
    }
    img, #waterbottle{
        float:none;
        width: 95%;
        margin: 0 auto;
        padding: 10px;
    }
}
.section{
     overflow: hidden;
    margin-bottom: 20px;
    padding: 20px 30px;
    background-image: url(images/paper.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
