body{
    background-color:lightblue;
    color:cornflowerblue;
    font-family:Arial, Helvetica, sans-serif;
    padding: 30px;
    margin: 0;
}
#container{
    background:aliceblue;
    padding: 30px;
    width: 1100px;
    margin: 0 auto;
    border-left: 5px solid white;
    border-right: 5px solid white;
}
#sidebar{
    background: lightblue;
    padding: 20px;
    border: 3px solid white;
    width: 20%;
    float:right;
    margin-left: 38px;
    border-radius: 30px;
}
h1{
    font-family:'Courier New', Courier, monospace;
    background:rgb(240, 246, 255);
    padding: 20px;
    text-align: center;
    width: 600px;
    margin: 0 auto;
    font-size: 2em;
    border: 6px solid white;
    border-radius: 30px;
}
h2{
    text-align: center;
}
h3{
    width: 100px;
    border-left: 30px double white;
    padding: 10px;
    margin-left: 30px;
    border-radius: 15px;
}
img {
    width: 300px;
    float: left;
    margin-right: 10px;
    border-radius: 30px;
}
.text{
    line-height: 2.25em;
}
#pic2{
    float: right;
    margin-right: 0;
    margin-left: 10px;
}
.highlight{
    background: white;
    font-weight: bold;
    color:cornflowerblue;
    padding: 4px;
    border-radius: 5px;
}
a:link{
    font-weight: bold;
    color:cornflowerblue;
    text-decoration: none;


}
a:visited{
    color:rgb(35, 84, 174);
}
a:hover{
    text-decoration: underline;
}
a:active{
    color:aliceblue;
}
.highlight:active{
    background:floralwhite;
}
ul{
    line-height: 1.5em;
    font-size: 1em;
}
#sidebar h3{
    border-color:lightblue;
    font-size: 1.2em;
}
#sidebar h4{
    font-size: 1em;
    color: cornflowerblue;
}
@media (max-width: 1200px){
    #container{
        background: white;
        width:875px;
    }
}
@media(max-width:992px){
    body{
        background: aliceblue;
    }
    #container{
        background:aliceblue;
        width:90%;
        border:none;
    }
    #sidebar{
        width:80%;
        margin: 0 auto;
        float:none;
    }
    p{
        text-align:justify;
    }
}
@media (max-width:768px){
    #container, body{
        background: white;
        margin: 0 auto;
        padding: 4px;
    }
    #sidebar{
        display:none;
    }
    img, #waterbottle{
        float:none;
        width: 95%;
        margin: 0 auto;
        padding: 10px;
    }
}
